footer
  .container.text-center
    p.float-left © 2018 T-Provenance Pty Ltd 
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://bitbucket.org/leaddevelopmentteam/tprov-app-server/') BitBucket
      li.list-inline-item
        a(href='https://tprovenance.atlassian.net/secure/Dashboard.jspa') JIRA
